_UpgradeReport_Files
UpgradeLog.XML
obj
bin
*.chm
_[Rr]e[Ss]harper.*
*.csproj.user
*.[Rr]e[Ss]harper.user
*.[Rr]e[Ss]harper
*.suo
*.cache
*~
*.sql
*.swp
*.swo
local_properties.rb
/product/docs/Help/*.*
artifacts
/product/config/app.config.vista
/product/config/our_custom_config.txt
/product/config/app.config.xp
/product/config/log4net.config.xml
/product/config/hibernate.cfg.xml
/product/*.web.ui/Bin
/product/*.web.ui/*.xml
/product/*.web.ui/*.config
/product/*.web.ui/*.txt
*.orig

